#h{
    margin: 200px 520px;
}
body{
    height: 50vh;
    background-color: azure;
}
form{
    width: 150px;
    height: 120px;
    background-image: linear-gradient(red, yellow, blue);
    padding: 80px;
    border-radius: 11px;
    font-weight: 600;
    
}
button{
    background-color: beige;
    border-radius: 13px;
}
button:hover{
    cursor: pointer;
    background-color: bisque;
}